name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install clang
        run: |
          sudo apt update
          sudo apt install clang

      - name: Build projects
        run: |
          cd projects/hello-world && make && cd ../..
          cd projects/check-prime && make && cd ../..
